
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Extralight.otf');
  font-weight:100
}
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Light.otf');
  font-weight:200
}
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Medium.otf');
  font-weight:300
}
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Regular.otf');
  font-weight:400
}
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Semibold.otf');
  font-weight:500
}
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Bold.otf');
  font-weight:600
}



html {
  scroll-behavior: smooth;
}

  body {
    font-family: 'chillax', "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

  .spinning{
    transform-origin: 100%;
  }


::-webkit-scrollbar{
  appearance: none;
  height:0;
  width:0;
}
  
  ._color_card .icon{
    opacity:0;
  }
  
  ._color_card:hover .icon{
    opacity:1;
  }


  /** TAILWIND **/
  @tailwind base;
  @tailwind components;
  @tailwind utilities;


  @layer components{
    .gradient{
      @apply bg-gradient-to-r from-blue-700 to-pink-600;
    }
  }

  
  @layer utilities{
  .flex-center{
    @apply flex items-center justify-center
  }
  .filter-invert-1{
    /* text-shadow:0 0 6px #000; */
    @apply text-white;
    /* filter:invert(1); */
  }

  .filter-bg-blur{
    backdrop-filter:blur(20px)
  }
}